# Global
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@db:5432/restaurant
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
PORT=4000
FRONTEND_PORT=5173
BACKEND_PORT=4000
